[submodule "hardware/third_party/pico-tflmicro"]
	path = src/hardware/third_party/pico-tflmicro
	url = https://github.com/raspberrypi/pico-tflmicro.git
	branch = main
[submodule "hardware/third_party/pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = master
