[submodule "submodules/pico-tflmicro"]
	path = src/hardware/submodules/pico-tflmicro
	url = https://github.com/raspberrypi/pico-tflmicro.git
	branch = main
[submodule "submodules/executorch"]
	path = src/hardware/submodules/executorch
	url = https://github.com/pytorch/executorch.git
	branch = tags/v0.2.1
